@import "tailwindcss";

@config "../tailwind.config.ts";

@custom-variant dark (&:where(.dark, .dark *));

/* Base body styles */
@layer base {
  body {
    @apply transition-colors duration-300 bg-white text-gray-900;
  }
  
  body.dark {
    @apply bg-gray-950 text-white;
    color-scheme: dark;
  }
}

/* Custom Utilities */
@layer utilities {
  .transition-colors {
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }
}